<% title 'Listing payables' %>

<%= render_new_link 'New payable', new_payable_path %>

<%= render_filter "payable_filters/form" %>

<table>
  <tr>
    <th><%= Payable.human_attribute_name(:seq) %></th>
    <th><%= Payable.human_attribute_name(:date) %></th>
    <th><%= Supplier.human_name %></th>
    <th><%= Payable.human_attribute_name(:amount) %></th>
  </tr>

<% @payables.each do |payable| %>
  <tr jurl="<%= payable_path(payable) -%>">
    <td><%=h payable.seq %></td>
    <td><%=h payable.date %></td>
    <td><%=h payable.supplier.name %></td>
    <td class="right"><%=f payable.amount %></td>
    <%= render_edit_link edit_payable_path(payable) %>
    <%= render_delete_link payable %>
  </tr>
<% end %>
</table>

<br/>

<table>
  <tr>
    <th><%= Supplier.human_name %></th>
    <th><%= Payable.human_attribute_name(:amount) %></th>
  </tr>
  <% supplier_unpay_list.each do |o| %>
    <tr>
      <td><%=h o[0] %></td>
      <td class="right"><%=f o[1] %></td>
    </tr>
  <% end %>
</table>

<h3><%= t('Total Amount') %>: <%=f total_unpay %></h3>
