<% title 'Listing invests' %>

<%= render_new_link 'New invest', new_invest_path %>

<table>
  <tr>
    <th><%= Invest.human_attribute_name(:seq) %></th>
    <th><%= Invest.human_attribute_name(:date) %></th>
    <th><%= CostItem.human_name %></th>
    <th><%= Invest.human_attribute_name(:amount) %></th>
  </tr>

<% @invests.each do |invest| %>
  <tr>
    <td><%=h invest.seq %></td>
    <td><%=h invest.date %></td>
    <td><%=h invest.cost_item.name %></td>
    <td class="right"><%=f invest.amount %></td>
    <%= render_edit_link edit_invest_path(invest) %>
    <%= render_delete_link invest %>
  </tr>
<% end %>
</table>

<h3><%= t('Total Invest') %>: <%=f total_invest %> </h3>
