<div id="menu">
<%= link_to Order.human_name, orders_path %> |
<%= link_to Purchase.human_name, purchases_path %> |
<%= link_to Receivable.human_name, receivables_path %> |
<%= link_to Payable.human_name, payables_path %> |
<%= link_to Invest.human_name, invests_path %> |
<%= link_to Customer.human_name, customers_path %> |
<%= link_to Supplier.human_name, suppliers_path %> |
<%= link_to Product.human_name, products_path %> |
<%= link_to CostItem.human_name, cost_items_path %>

<span style="float:right">
  <% if current_user.admin? %>
    <%= @focused_name -%> | 
    <%= link_to 'User List', users_path %>
  <% else %>
    <%= current_user.name -%>
  <% end %> |
  <%= link_to t('Language'), params.merge(:locale=>@revert_language) %> |
  
  <% permitted_to? :edit, :account do -%>
    <%= link_to t('My Account'), edit_account_path %> | 
  <% end -%>
  <%= link_to t('Logout'), logout_path %>
</span>
</div>