<h1>Listing users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Name</th>
    <th>Address</th>
    <th>Telephone</th>
    <th>Cell phone</th>
    <th>Id no</th>
    <th>Business no</th>
    <th>Company</th>
    <th>Addtional</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.username %></td>
    <td><%=h user.email %></td>
    <td><%=h user.name %></td>
    <td><%=h user.address %></td>
    <td><%=h user.telephone %></td>
    <td><%=h user.cell_phone %></td>
    <td><%=h user.id_no %></td>
    <td><%=h user.business_no %></td>
    <td><%=h user.company %></td>
    <td><%=h user.addtional %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>