<% form_for(@purchase) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :seq %><br />
    <%= f.text_field_hl :seq %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label Supplier.human_name %><br />
    <%= f.collection_select(:supplier_id, Supplier.all(:order=>"name"), :id, :name)%>
  </p>     
  <p>
    <%= f.label Product.human_name %><br />
    <%= f.collection_select(:product_id, Product.all(:order=>"name"), :id, :name) %>
  </p>
  <p>
    <%= f.label :volume %><br />
    <%= f.text_field_hl :volume %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field_hl :price %>
  </p>
  <p>
    <%= f.label :is_paied %>: 
    <%= f.check_box(:is_paied, {}, "yes", "no") %>
  </p>  
  <p>
    <%= f.submit_once t(button_label) %>
  </p>
<% end %>
