<% title 'Listing purchases' %>

<%= render_new_link 'New purchase', new_purchase_path %>

<%= render_filter "purchase_filters/form" %>

<table>
  <tr>
    <th><%= Purchase.human_attribute_name :seq %></th>
    <th><%= Purchase.human_attribute_name :date %></th>
    <th><%= Supplier.human_name %></th>
    <th><%= Product.human_name %></th>
    <th><%= Purchase.human_attribute_name :volume %></th>
    <th><%= Purchase.human_attribute_name :price %></th>
    <th><%= t('t_total') %></th>
    <th><%= Purchase.human_attribute_name :is_paied %></th>
  </tr>

<% @purchases.each do |purchase| %>
  <tr>
    <td><%=h purchase.seq %></td>
    <td><%=h purchase.date %></td>
    <td><%=h purchase.supplier.name %></td>
    <td><%=h purchase.product.name %></td>
    <td class="right"><%=f purchase.volume %></td>
    <td class="right"><%=f purchase.price %></td>
    <td class="right"><%=f purchase.total %></td>
    <td><%=h t("t_#{purchase.is_paied}") %></td>
    <%= render_edit_link edit_purchase_path(purchase) %>
    <%= render_delete_link purchase %>
  </tr>
<% end %>
</table>

<br />

<table>
  <tr>
    <th><%= Supplier.human_name %></th>
    <th><%= Purchase.human_attribute_name :is_paied %></th>
    <th><%= t('Total Amount') %></th>
  </tr>
  <% supplier_purchase_list.each do |o| %>
    <tr>
      <td><%=h o[0] %></td>
      <td class="right"><%=f o[1][:paied_amount] %></td>
      <td class="right"><%=f o[1][:total_amount] %></td>
    </tr>
  <% end %>
</table>                                  

<br/> 

<table>
  <tr>
    <th><%= Product.human_name %></th>
    <th><%= Purchase.human_attribute_name :volume %></th>
    <th><%= t('t_amount') %></th>
  </tr>
  <% product_purchase_list.each do |o| %>
    <tr>
      <td><%=h o[0] %></td>
      <td class="right"><%=f o[1][:total_volume] %></td>
      <td class="right"><%=f o[1][:total_amount] %></td>
    </tr>
  <% end %>
</table>

<h3><%= t('Paid Amount') %>: <%=f total_purchase_paied %> | 
  <%= t('Unpaid Amount') %>: <%=f total_purchase_unpaied %> | 
  <%= t('Total Amount') %>: <%=f total_purchase_fee %> </h3>
