<%= title t('Listing purchases') %>
<h3><%= link_to t('New purchase'), new_purchase_path %></h3>
<table>
  <tr>
    <th><%= t('t_seq_no') %></th>
    <th><%= t('t_date') %></th>
    <th><%= t('t_product') %></th>
    <th><%= t('t_volume') %></th>
    <th><%= t('t_price') %></th>
    <th><%= t('t_total') %></th>
  </tr>

<% @purchases.each do |purchase| %>
  <tr>
    <td><%=h purchase.seq_no %></td>
    <td><%=h purchase.date %></td>
    <td><%=h purchase.product.name %></td>
    <td class="right"><%=f purchase.volume %></td>
    <td class="right"><%=f purchase.price %></td>
    <td class="right"><%=f purchase.total %></td>
    <td><%= link_to t('Edit'), edit_purchase_path(purchase) %></td>
    <td><%= link_to t('Destroy'), purchase, :confirm => t('sure?'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h3>总材料费：<%=f @purchases.inject(0) { |sum,purchase| sum += purchase.total }%> </h3>
  <table>
    <% product_purchase_list.each do |o| %>
      <tr>
        <td><%=h o[0] %></td>
        <td class="right"><%=f o[1] %></td>
      </tr>
    <% end %>
  </table>                                  

