<p>
  <b><%= Purchase.human_attribute_name :seq %>:</b>
  <%=h @purchase.seq %>
</p>
<p>
  <b><%= Purchase.human_attribute_name :date %>:</b>
  <%=h @purchase.date %>
</p>

<p>
  <b><%= Supplier.human_name %>:</b>
  <%=h @purchase.supplier.name %>
</p>

<p>
  <b><%= Product.human_name %>:</b>
  <%=h @purchase.product.name %>
</p>

<p>
  <b><%= Purchase.human_attribute_name :volume %>:</b>
  <%=h @purchase.volume %>
</p>

<p>
  <b><%= Purchase.human_attribute_name :price %>:</b>
  <%=h @purchase.price %>
</p>
<p>
  <b><%= Purchase.human_attribute_name :is_paied %>:</b>
  <%=h t("t_#{@purchase.is_paied}") %>
</p>

<%= link_to t('Edit'), edit_purchase_path(@purchase) %> | 
<%= link_to(t('Destroy'), @purchase, :confirm => t('sure?'), :method => :delete) %> | 
<%= link_to t('Back'), purchases_path %>