<% title 'Listing customers' %>

<%= render_new_link 'New customer', new_customer_path %></h3>

<table>
  <tr>
    <th><%= Customer.human_attribute_name(:seq_no) %></th>
    <th><%= Customer.human_attribute_name(:name) %></th>
    <th><%= Customer.human_attribute_name(:cutoff_date) %></th>
    <th><%= Customer.human_attribute_name(:inreceive_amount) %></th>
    <th><%= Customer.human_attribute_name(:unsettle_amount_after_cutoff) %></th>
    <th><%= Customer.human_attribute_name(:received_amount_after_cutoff) %></th>
    <th><%= Customer.human_attribute_name(:amount_will_receive) %></th>
  </tr>

<% @customers.each do |customer| %>
  <% if customer.long_time_no_trade? %>
    <% if customer.unsettle?%>
      <tr class="alert" title="大额拖欠且两个月没有订单">
    <% else %>
      <tr class="alter" title="两个月没有订单">
    <% end %>
  <% else %>
    <tr>
  <% end %>
    <td><%=h customer.seq_no %></td>
    <td><%=h customer.name %></td>
    <td><%=h customer.cutoff_date %></td>
    <td class="right"><%=f customer.inreceive_amount %></td>
    <td class="right"><%=f customer.unsettle_amount_after_cutoff %></td>
    <td class="right"><%=f customer.received_amount_after_cutoff %></td>
    <td class="right"><%=f customer.amount_will_receive %></td>
    <%= render_edit_link edit_customer_path(customer) %>
    <% if customer.orders.empty? && customer.receivables.empty? %>
      <%= render_delete_link customer %>
    <% end %>
  </tr>
<% end %>
</table>

<h3><%= t('Total Customers') %>：<%=h @customers.size %></h3>
<h3><%= t('Total Inreceive') %>：<%=f total_amount_will_receive %></h3>
