<% title 'Listing customers' %>

<%= render_new_link 'New customer', new_customer_path %></h3>

<table>
  <tr>
    <th><%= Customer.human_attribute_name(:seq) %></th>
    <th><%= Customer.human_attribute_name(:name) %></th>
    <th><%= Customer.human_attribute_name(:cutoff_date) %></th>
    <th><%= Customer.human_attribute_name(:inreceive_amount) %></th>
    <th><%= Customer.human_attribute_name(:unsettle_amount_after_cutoff) %></th>
    <th><%= Customer.human_attribute_name(:received_amount_after_cutoff) %></th>
    <th><%= Customer.human_attribute_name(:amount_will_receive) %></th>
  </tr>

<% @customers.each do |customer| %>
  <tr jurl="<%= customer_path(customer) -%>">
    <td><%=h customer.seq %></td>
    <td><%=h customer.name %><%= set_alert customer %></td>
    <td><%=h customer.cutoff_date %></td>
    <td class="right"><%=f customer.inreceive_amount %></td>
    <td class="right"><%=f customer.unsettle_amount_after_cutoff %></td>
    <td class="right"><%=f customer.received_amount_after_cutoff %></td>
    <td class="right"><%=f customer.amount_will_receive %></td>
    <%= render_edit_link edit_customer_path(customer) %>
  </tr>
<% end %>
</table>
<p><%= customer_idle_html %> 最近两个月没有订单</p>
<p><%= customer_idle_unsettle_html %> 最近两个月没有订单且有大额拖欠</p>

<h3><%= t('Total Customers') %>：<%=h @customers.size %></h3>
<h3><%= t('Total Inreceive') %>：<%=f total_amount_will_receive %></h3>
