<%= render :partial => "partials/show/seq", :locals =>{:o => @customer} %>
<p>
  <b><%= Customer.human_attribute_name(:name) %>:</b>
  <%=h @customer.name %>
</p>

<p>
  <b><%= Customer.human_attribute_name(:cutoff_date) %>:</b>
  <%=h @customer.cutoff_date %>
</p>

<p>
  <b><%= Customer.human_attribute_name(:inreceive_amount) %>:</b>
  <%=h @customer.inreceive_amount %>
</p>
<%= render :partial => "partials/show/telph", :locals =>{:o => @customer} %>
<%= render :partial => "partials/show/mobph", :locals =>{:o => @customer} %>

<%= link_to t('Edit'), edit_customer_path(@customer) %> |
<% if @customer.orders.empty? && @customer.receivables.empty? %>
<%= link_to(t('Destroy'), @customer, :confirm => t('sure?'), :method => :delete) %> | 
<% end %>
<%= link_to t('Back'), customers_path %>