<% nested_form_for @order do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :seq %><br />
    <%= f.text_field_hl :seq %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label Customer.human_name %><br />
    <%= f.collection_select(:customer_id, Customer.all(:order=>"name"), :id, :name)%>
  </p>     
  <p>
    <%= f.label Product.human_name %><br />
    <%= f.collection_select(:product_id, Product.all(:order=>"name"), :id, :name)%>
  </p>   
  <p>
    <%= f.label :volume %><br />
    <%= f.text_field_hl :volume %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field_hl :price %>
  </p>
  <div>
    <% f.fields_for :order_proc_maps do |builder| %>
      <%= render 'order_proc_map_fields', :f => builder %>
    <% end %>
    <br />
    <%= f.label :manfee %><%= f.text_field_hl :manfee %>
    <%= f.link_to_add Order.human_attribute_name(:add_proc), :order_proc_maps %>
  </div>
  <p>
    <%= f.label :is_paied %>: 
    <%= f.check_box(:is_paied, {}, YES, NO) %>
  </p>  
  <p>
    <%= f.submit_once t(button_label) %>
  </p>
<% end %>  