<h1><%=t :listing_orders %></h1>
<h3><%= link_to t('New order'), new_order_path %></h3>
<%= select_year(Time.now) %><%= select_month(Time.now) %>
<table>
  <tr>
    <th>日期</th>
    <th>产品</th>
    <th>价格</th>
    <th>数量（公斤）</th>
    <th>加工费</th>
    <th>客户</th>
    <th>合计</th>
    <th>已付</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%=h order.date %></td>
    <td><%=h order.product.name %></td>
    <td><%=h order.price %></td>
    <td><%=h order.volume %></td>
    <td><%=h order.manfee %></td>
    <td><%=h order.customer.name %></td>
    <td><%=h order.totale %></td>
    <td><%=h order.is_paied %></td>
    <!-- <td><%= link_to t('Show'), order %></td> -->
    <td><%= link_to t('Edit'), edit_order_path(order) %></td>
    <td><%= link_to t('Destroy'), order, :confirm => t('sure?'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

总加工费：<%=h @orders.inject(0) { |sum,order| sum += order.manfee }%>
总金额：<%=h @orders.inject(0) { |sum,order| sum += order.totale }%>

<br />

