<%=title t('Listing orders') %>
<h3><%= link_to t('New order'), new_order_path %></h3>
<%= render :partial => "order_filter_form" %>
<table>
  <tr>
    <th><%=h Order.human_attribute_name :seq_no %></th>
    <th><%=h Order.human_attribute_name :date %></th>
    <th><%=h Customer.human_name %></th>
    <th><%=h Product.human_name %></th>
    <th><%=h Order.human_attribute_name :volume %></th>
    <th><%=h Order.human_attribute_name :price %></th>
    <th><%=h Order.human_attribute_name :manfee %></th>
    <th><%=h Order.human_attribute_name :total %></th>
    <th><%=h Order.human_attribute_name :is_paied %></th>
  </tr>

<% @orders.each do |order| %>
  <% if alert?(order) %>
    <tr class="alt">
  <% else %>
    <tr>
  <% end %>
    <td><%=h order.seq_no %></td>
    <td><%=h order.date %></td>
    <td><%=h order.customer.name %></td>
    <td><%=h order.product.name %></td>
    <td class="right"><%=f order.volume %></td>
    <td class="right"><%=f order.price %></td>
    <td class="right"><%=f order.manfee %></td>
    <td class="right"><%=f order.total %></td>
    <td><%=h t("t_#{order.is_paied}") %></td>
    <td><%= link_to t('Edit'), edit_order_path(order) %></td>
    <td><%= link_to t('Destroy'), order, :confirm => t('sure?'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br/>

<table>
  <tr>
    <th>材料</th>
    <th>数量（公斤）</th>
    <th>材料费</th>
    <th>材料利润</th>
    <th>加工费</th>
    <th>总收益</th>
  </tr>
  <% product_position_list.each do |o| %>
    <tr>
      <td><%=h o[0] %></td>
      <td class="right"><%=f o[1][:total_volume] %></td>
      <td class="right"><%=f o[1][:total_mat_fee] %></td>
      <td class="right"><%=f o[1][:total_mat_profit] %></td>
      <td class="right"><%=f o[1][:total_man_fee] %></td>
      <td class="right"><%=f o[1][:total_profit] %></td>
    </tr>
  <% end %>
</table>               
<br/>                   
<table>
  <tr>
    <th>客户</th>
    <th>材料费</th>
    <th>材料利润</th>
    <th>加工费</th>
    <th>总收益</th>
  </tr>
  <% customer_position_list.each do |o| %>
    <tr>
      <td><%=h o[0] %></td>
      <td class="right"><%=f o[1][:total_mat_fee] %></td>
      <td class="right"><%=f o[1][:total_mat_profit] %></td>
      <td class="right"><%=f o[1][:total_man_fee] %></td>
      <td class="right"><%=f o[1][:total_profit] %></td>
    </tr>
  <% end %>
</table>
<h3>总材料费：<%=f total_material_fee %> | 
  总材料收益：<%=f total_material_fee - total_material_cost %> | 
  总加工费：<%=f total_manfee %> | 
  总收益：<%=f total_revenue %> </h3>
<h3>已收金额：<%=f total_paied %> | 
  未收金额：<%=f total_unpaied %> | 
  总金额：<%=f total %> </h3>
<% if @criteria_order.profit_calculable?%>
  <h3>总利润：<%=f total_profit %> </h3>
<% end %>
