<% title 'Listing orders' %>

<%= render_new_link 'New order', new_order_path %>

<%= render_filter "order_filters/form" %>

<table>
  <tr>
    <th><%=h Order.human_attribute_name :seq_no %></th>
    <th><%=h Order.human_attribute_name :date %></th>
    <th><%=h Customer.human_name %></th>
    <th><%=h Product.human_name %></th>
    <th><%=h Order.human_attribute_name :volume %></th>
    <th><%=h Order.human_attribute_name :price %></th>
    <th><%=h Order.human_attribute_name :manfee %></th>
    <th><%=h Order.human_attribute_name :total %></th>
    <th><%=h Order.human_attribute_name :is_paied %></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%=h link_to order.seq_no, order %></td>
    <td><%=h order.date %></td>
    <td><%=h order.customer.name %></td>
    <td><%=h order.product.name %></td>
    <td class="right"><%=f order.volume %></td>
    <td class="right"><%=f order.price %></td>
    <td class="right"><%=f order.manfee %></td>
    <td class="right"><%=f order.total %></td>
    <td><%=h t("t_#{order.is_paied}") %></td>
    <%= render_edit_link edit_order_path(order) %>
    <%= render_delete_link order %>
  </tr>
<% end %>
</table>

<br/>

<div id="optr">
  <table>
    <tr>
      <th><%=h Product.human_name %></th>
      <th><%=h Order.human_attribute_name :volume %></th>
      <th><%=h t('Gross Amount') %></th>
      <th><%=h t('Gross Profit') %></th>
      <th><%=h Order.human_attribute_name :manfee %></th>
      <th><%=h t('Revenue') %></th>
    </tr>
    <% product_position_list.each do |o| %>
      <tr>
        <td><%=h o[0] %></td>
        <td class="right"><%=f o[1][:total_volume] %></td>
        <td class="right"><%=f o[1][:total_mat_fee] %></td>
        <td class="right"><%=f o[1][:total_mat_profit] %></td>
        <td class="right"><%=f o[1][:total_man_fee] %></td>
        <td class="right"><%=f o[1][:total_profit] %></td>
      </tr>
    <% end %>
  </table>               
  <br/>                   
  <table>
    <tr>
      <th><%=h Customer.human_name %></th>
      <th><%=h t('Gross Amount') %></th>
      <th><%=h t('Gross Profit') %></th>
      <th><%=h Order.human_attribute_name :manfee %></th>
      <th><%=h t('Revenue') %></th>
    </tr>
    <% customer_position_list.each do |o| %>
      <tr>
        <td><%=h o[0] %></td>
        <td class="right"><%=f o[1][:total_mat_fee] %></td>
        <td class="right"><%=f o[1][:total_mat_profit] %></td>
        <td class="right"><%=f o[1][:total_man_fee] %></td>
        <td class="right"><%=f o[1][:total_profit] %></td>
      </tr>
    <% end %>
  </table>
  <h3><%=h t('Total Gross Amount') %>: <%=f total_material_fee %> | 
    <%=h t('Total Gross Profit') %>: <%=f total_material_fee - total_material_cost %> | 
    <%=h t('Total Processing Charge') %>: <%=f total_manfee %> | 
    <%=h t('Total Revenue') %>: <%=f total_revenue %> </h3>
</div>
<h3><%=h t('Received Amount') %>: <%=f total_paied %> | 
  <%=h t('Inreceived Amount') %>: <%=f total_unpaied %> | 
  <%=h t('Total Amount') %>: <%=f total %> </h3>

<% if @order_filter.profit_calculable? %>
<div id="optr"><h3><%=h t('Total Profit') %>: <%=f total_profit %></h3></div>
<% end %>

<div id="optr"><%= link_to_function t('Print'), 'javascript:print()' %></div>
