<h1><%=t :listing_orders %></h1>
<h3><%= link_to t('New order'), new_order_path %></h3>
<!-- <%= select_year(Time.now) %><%= select_month(Time.now) %> -->
<%= render :partial => "date_filter_form" %>
<table>
  <tr>
    <th>编号</th>
    <th>日期</th>
    <th>客户</th>
    <th>产品</th>
    <th>数量（公斤）</th>
    <th>价格</th>
    <th>加工费</th>
    <th>合计</th>
    <th>已付</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%=h order.seq_no %></td>
    <td><%=h order.date %></td>
    <td><%=h order.customer.name %></td>
    <td><%=h order.product.name %></td>
    <td><%=h order.volume %></td>
    <td><%=h order.price %></td>
    <td><%=h order.manfee %></td>
    <td><%=h order.totale %></td>
    <td><%=h t("t_#{order.is_paied}") %></td>
    <!-- <td><%= link_to t('Show'), order %></td> -->
    <td><%= link_to t('Edit'), edit_order_path(order) %></td>
    <td><%= link_to t('Destroy'), order, :confirm => t('sure?'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h3>总材料费：<%=h total_material_fee %> </h3>
  <table>
    <tr>
      <th>产品</th>
      <th>数量（公斤）</th>
      <th>合计</th>
      <th>成本</th>
      <th>利润</th>
    </tr>
    <% product_position_list.each do |o| %>
      <tr>
        <td><%=h o[0] %></td>
        <td><%=h o[1][:total_volume] %></td>
        <td><%=h o[1][:total_mat_fee] %></td>
        <td><%=h o[1][:total_cost] %></td>
        <td><%=h o[1][:total_profit] %></td>
      </tr>
    <% end %>
  </table>                                  
<h3>总材料成本：<%=h total_material_cost %> </h3>
<h3>总加工费：<%=h total_manfee %> </h3>
<h3>总收益：<%=h total_revenue %> </h3>
<h3>总利润：<%=h total_profit %> </h3>
<h3>已付金额：<%=h total_paied %><br />
<h3>未付金额：<%=h total_unpaied %> </h3>
  <table>
    <tr>
      <th>客户</th>
      <th>金额</th>
    </tr>
    <% customer_unpaied_list.each do |o| %>
      <tr>
        <td><%=h o[0] %></td>
        <td><%=h o[1] %></td>
      </tr>
    <% end %>
  </table>        
<br />
  <table>
    <tr>
      <th>客户</th>
      <th>材料</th>
      <th>材料利润</th>
      <th>加工费</th>
      <th>总收益</th>
    </tr>
    <% customer_position_list.each do |o| %>
      <tr>
        <td><%=h o[0] %></td>
        <td><%=h o[1][:total_mat_fee] %></td>
        <td><%=h o[1][:total_mat_profit] %></td>
        <td><%=h o[1][:total_man_fee] %></td>
        <td><%=h o[1][:total_profit] %></td>
      </tr>
    <% end %>
  </table>                                  
<h3>总金额：<%=h total %> </h3>
