<h1><%=t :listing_orders %></h1>
<h3><%= link_to t('New order'), new_order_path %></h3>
<!-- <%= select_year(Time.now) %><%= select_month(Time.now) %> -->
<%= render :partial => "date_filter_form" %>
<table>
  <tr>
    <th>编号</th>
    <th>日期</th>
    <th>产品</th>
    <th>价格</th>
    <th>数量（公斤）</th>
    <th>加工费</th>
    <th>客户</th>
    <th>合计</th>
    <th>已付</th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%=h order.seq_no %></td>
    <td><%=h order.date %></td>
    <td><%=h order.product.name %></td>
    <td><%=h order.price %></td>
    <td><%=h order.volume %></td>
    <td><%=h order.manfee %></td>
    <td><%=h order.customer.name %></td>
    <td><%=h order.totale %></td>
    <td><%=h t("t_#{order.is_paied}") %></td>
    <!-- <td><%= link_to t('Show'), order %></td> -->
    <td><%= link_to t('Edit'), edit_order_path(order) %></td>
    <td><%= link_to t('Destroy'), order, :confirm => t('sure?'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h3>总材料费：<%=h @orders.inject(0) { |sum,order| sum += order.material_fee }%> </h3>
  <table>
    <% product_position_list.each do |o| %>
      <tr>
        <td><%=h o[0] %></td>
        <td><%=h o[1] %></td>
      </tr>
    <% end %>
  </table>                                  
<h3>总加工费：<%=h @orders.inject(0) { |sum,order| sum += order.manfee }%> </h3>
<h3>已付金额：<%=h @orders.inject(0) { |sum,order| 
                                    if order.is_paied.eql?('yes')
                                      sum += order.totale 
                                    else 
                                      sum += 0 
                                    end 
                                  }%><br />
<h3>未付金额：<%=h @orders.inject(0) { |sum,order| 
                                    if order.is_paied.eql?('no')
                                      sum += order.totale 
                                    else 
                                      sum += 0 
                                    end 
                                  }%> </h3>
  <table>
    <% customer_unpaied_list.each do |o| %>
      <tr>
        <td><%=h o[0] %></td>
        <td><%=h o[1] %></td>
      </tr>
    <% end %>
  </table>                                  
<h3>总金额：<%=h @orders.inject(0) { |sum,order| sum += order.totale }%> </h3>
