<p>
  <b><%=h Order.human_attribute_name :seq %>:</b>
  <%=h @order.seq %>
</p>
<p>
  <b><%=h Order.human_attribute_name :date %>:</b>
  <%=h @order.date %>
</p>
<p>
  <b><%=h Customer.human_name %>:</b>
  <%=h @order.customer.name %>
</p>
<p>
  <b><%=h Product.human_name %>:</b>
  <%=h @order.product.name %>
</p>
<p>
  <b><%=h Order.human_attribute_name :volume %>:</b>
  <%=f @order.volume %>
</p>
<p>
  <b><%=h Order.human_attribute_name :price %>:</b>
  <%=f @order.price %>
</p>
<p>
  <b><%=h Order.human_attribute_name :manfee %>:</b>
  <%=f @order.manfee %>
  <ul>
  <% @order.order_proc_maps.each do |p| %>
    <li><%=h p.proc_type.name %>
      <%=h OrderProcMap.human_attribute_name :price %><%=h p.price %>
      <%=h OrderProcMap.human_attribute_name :num %><%=h p.num %></li>
  <% end %>
  </ul>
</p>
<p>
  <b><%=h Order.human_attribute_name :total %>:</b>
  <%=f @order.total %>
</p>
<p>
  <b><%=h Order.human_attribute_name :is_paied %>:</b>
  <%=h t("t_#{@order.is_paied}") %>
</p>
<%= link_to t('Edit'), edit_order_path(@order) %> |
<%= link_to t('Back'), orders_path %>