<p>
  <b>Date:</b>
  <%=h @order.date %>
</p>

<p>
  <b>Price:</b>
  <%=h @order.price %>
</p>

<p>
  <b>Volume:</b>
  <%=h @order.volume %>
</p>

<p>
  <b>Manfee:</b>
  <%=h @order.manfee %>
</p>


<%= link_to t('Edit'), edit_order_path(@order) %> |
<%= link_to t('Back'), orders_path %>