<p>
  <b><%= t('t_seq_no') %>:</b>
  <%=h @order.seq_no %>
</p>
<p>
  <b><%= t('t_date') %>:</b>
  <%=h @order.date %>
</p>
<p>
  <b><%= t('t_product') %>:</b>
  <%=h @order.product.name %>
</p>
<p>
  <b><%= t('t_price') %>:</b>
  <%=h @order.price %>
</p>
<p>
  <b><%= t('t_volume') %>:</b>
  <%=h @order.volume %>
</p>
<p>
  <b><%= t('t_manfee') %>:</b>
  <%=h @order.manfee %>
</p>
<p>
  <b><%= t('t_customer') %>:</b>
  <%=h @order.customer.name %>
</p>
<p>
  <b><%= t('t_is_paied') %>:</b>
  <%=h t("t_#{@order.is_paied}") %>
</p>
<%= link_to t('Edit'), edit_order_path(@order) %> |
<%= link_to t('Back'), orders_path %>