<% title t('Listing cost_items') %> 

<h3><%= link_to t('New cost_item'), new_cost_item_path %></h3>

<table>
  <tr>
    <th><%= CostItem.human_attribute_name(:seq_no) %></th>
    <th><%= CostItem.human_attribute_name(:name) %></th>
    <th><%= CostItem.human_attribute_name(:period) %></th>
    <th><%= CostItem.human_attribute_name(:price) %></th>
  </tr>

<% @cost_items.each do |cost_item| %>
  <tr>
    <td><%=h cost_item.seq_no %></td>
    <td><%=h cost_item.name %></td>
    <td><%=h day_to_period[cost_item.period] %></td>
    <td class="right"><%=f cost_item.price %></td>
    <td><%= link_to t('Edit'), edit_cost_item_path(cost_item) %></td>
    <% if cost_item.invests.empty? %>
      <td><%= link_to t('Destroy'), cost_item, :confirm => t('sure?'), :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

