<%= title t('Listing receivables') %>
<h3><%= link_to t('New receivable'), new_receivable_path %></h3>
<%= render :partial => "receivable_filter_form" %>
<table>
  <tr>
    <th><%= t('t_seq_no') %></th>
    <th><%= t('t_date') %></th>
    <th><%= t('t_customer') %></th>
    <th><%= t('t_amount') %></th>
  </tr>

<% @receivables.each do |receivable| %>
  <tr>
    <td><%=h receivable.seq_no %></td>
    <td><%=h receivable.date %></td>
    <td><%=h receivable.customer.name %></td>
    <td class="right"><%=f receivable.amount %></td>
    <td><%= link_to t('Edit'), edit_receivable_path(receivable) %></td>
    <td><%= link_to t('Destroy'), receivable, :confirm => t('sure?'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<table>
  <tr>
    <th><%= Customer.human_name %></th>
    <th>金额</th>
  </tr>
  <% customer_unrec_list.each do |o| %>
    <tr>
      <td><%=h o[0] %></td>
      <td class="right"><%=f o[1] %></td>
    </tr>
  <% end %>
</table>

<h3>总金额：<%=f total_unrec %> </h3>

