<p>
  <b><%= Receivable.human_attribute_name :seq %>:</b>
  <%=h @receivable.seq %>
</p>
<p>
  <b><%= Receivable.human_attribute_name :date %>:</b>
  <%=h @receivable.date %>
</p>
<p>
  <b><%= Customer.human_name %>:</b>
  <%=h @receivable.customer.name %>
</p>
<p>
  <b><%= Receivable.human_attribute_name :amount %>:</b>
  <%=f @receivable.amount %>
</p>


<%= link_to t('Edit'), edit_receivable_path(@receivable) %> |
<%= link_to t('Back'), receivables_path %>