<% title t('Change Password') %>

<% form_for(@user, :url => update_password_path) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit t("Update") %>
  </p>
<% end %>
<h1><%= t('Administrative Support') %></h1>
<% form_for(@user, :url => update_share_path) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.radio_button :share, true, {:onchange =>"this.form.submit()"}%>
    <%= t('Allow') %>
    <%= f.radio_button :share, false, {:onchange =>"this.form.submit()"}%>
    <%= t('Deny') %>
  </p>
<% end %>

<%= link_to t('Back'), session[:return_to] %>

