<% title t('Administrative Support') %>

<% form_for(@user, :url => update_share_path) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.radio_button :share, true, {:onchange =>"this.form.submit()"}%>
    <%= t('Allow') %>
    <%= f.radio_button :share, false, {:onchange =>"this.form.submit()"}%>
    <%= t('Deny') %>
  </p>
<% end %>

<%= link_to t('Back'), session[:return_to] %>

