<p>
  <b>Name:</b>
  <%=h @proc_type.name %>
</p>

<p>
  <b>Price:</b>
  <%=h @proc_type.price %>
</p>


<%= link_to t('Edit'), edit_proc_type_path(@proc_type) %> | 
<% if @proc_type.order_proc_maps.empty? %>
<%= link_to(t('Destroy'), @proc_type, :confirm => t('sure?'), :method => :delete) %> | 
<% end %>
<%= link_to t('Back'), proc_types_path %>