<% title 'Listing products' %>

<%= render_new_link 'New product', new_product_path %>

<table>
  <tr>
    <th><%= Product.human_attribute_name(:name) %></th>
    <th><%= Product.human_attribute_name(:price) %></th>
    <th><%= Product.human_attribute_name(:weighted_cost) %></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%=h product.name %></td>
    <td class="right"><%=f product.price %></td>
    <td class="right"><%=f product.weighted_cost %></td>
    <%= render_edit_link edit_product_path(product) %>
    <% if product.orders.empty? && product.purchases.empty? %>
      <%= render_delete_link product %>
    <% end %>
  </tr>
<% end %>
</table>
<h3><%= t('Total Products')%>: <%=h @products.size %></h3>
