<h1><%= t('Listing products') %></h1>

<h3><%= link_to t('New product'), new_product_path %></h3>

<table>
  <tr>
    <th><%= Product.human_attribute_name(:name) %></th>
    <th><%= Product.human_attribute_name(:price) %></th>
    <th><%= Product.human_attribute_name(:weighted_cost) %></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%=h product.name %></td>
    <td class="right"><%=f product.price %></td>
    <td class="right"><%=f product.weighted_cost %></td>
    <td><%= link_to t('Edit'), edit_product_path(product) %></td>
    <!-- <td><%= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </tr>
<% end %>
</table>
