<% title 'Listing products' %>

<%= render_new_link 'New product', new_product_path %>

<table>
  <tr>
    <th><%= Product.human_attribute_name(:seq) %></th>
    <th><%= Product.human_attribute_name(:name) %></th>
    <th><%= Product.human_attribute_name(:cutoff_date) %></th>
    <th><%= Product.human_attribute_name(:inventory) %></th>
    <th><%= Product.human_attribute_name(:sell_amount) %></th>
    <th><%= Product.human_attribute_name(:purchase_amount) %></th>
    <th><%= Product.human_attribute_name(:remain_amount) %></th>
    <th><%= Product.human_attribute_name(:price) %></th>
    <th><%= Product.human_attribute_name(:weighted_cost) %></th>
  </tr>

<% @products.each do |product| %>
  <tr jurl="<%= product_path(product) -%>">
    <td><%=h product.seq %></td>
    <td><%=h product.name %></td>
    <td><%=h product.cutoff_date %></td>
    <td class="right"><%=f product.inventory %></td>
    <td class="right"><%=f product.sell_amount %></td>
    <td class="right"><%=f product.purchase_amount %></td>
    <td class="right"><%=f product.remain_amount %></td>
    <td class="right"><%=f product.price %></td>
    <td class="right"><%=f product.weighted_cost %></td>
    <%= render_edit_link edit_product_path(product) %>
  </tr>
<% end %>
</table>
<h3><%= t('Total Products')%>: <%=h @products.size %></h3>
