<p>
  <b><%= Product.human_attribute_name(:name) %>:</b>
  <%=h @product.name %>
</p>

<p>
  <b><%= Product.human_attribute_name(:price) %>:</b>
  <%=h @product.price %>
</p>


<%= link_to t('Edit'), edit_product_path(@product) %> |
<%= link_to t('Back'), products_path %>