<% form_for(@supplier) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "partials/form/update/seq", :locals =>{ :f => f } %>
  <%= render :partial => "partials/form/update/name", :locals =>{ :f => f } %>
  <%= render :partial => "partials/form/update/cutoff_date", :locals =>{ :f => f } %>
  <p>
    <%= f.label :unpaied_amount %><br />
    <%= f.text_field_hl :unpaied_amount %>
  </p>
  <%= render :partial => "partials/form/update/telph", :locals =>{ :f => f } %>
  <%= render :partial => "partials/form/update/mobph", :locals =>{ :f => f } %>
  <p>
    <%= f.submit_once t(button_label) %>
  </p>
<% end %>
