<% title t('Listing suppliers') %>

<h3><%= link_to t('New supplier'), new_supplier_path %></h3>

<table>
  <tr>
    <th><%= Supplier.human_attribute_name(:seq_no) %></th>
    <th><%= Supplier.human_attribute_name(:name) %></th>
    <th><%= Supplier.human_attribute_name(:cutoff_date) %></th>
    <th><%= Supplier.human_attribute_name(:unpaied_amount) %></th>
    <th><%= Supplier.human_attribute_name(:unsettle_amount_after_cutoff) %></th>
    <th><%= Supplier.human_attribute_name(:paied_amount_after_cutoff) %></th>
    <th><%= Supplier.human_attribute_name(:amount_to_pay) %></th>
  </tr>

<% @suppliers.each do |supplier| %>
  <tr>
    <td><%=h supplier.seq_no %></td>
    <td><%=h supplier.name %></td>
    <td><%=h supplier.cutoff_date %></td>
    <td class="right"><%=f supplier.unpaied_amount %></td>
    <td class="right"><%=f supplier.unsettle_amount_after_cutoff %></td>
    <td class="right"><%=f supplier.paied_amount_after_cutoff %></td>
    <td class="right"><%=f supplier.amount_to_pay %></td>
    <td><%= link_to t('Edit'), edit_supplier_path(supplier) %></td>
    <% if supplier.purchases.empty? && supplier.payables.empty?%>
      <td><%= link_to t('Destroy'), supplier, :confirm => t('sure?'), :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<h3>总共 <%=h @suppliers.size %> 个</h3>