<% title 'Listing suppliers' %>

<%= render_new_link 'New supplier', new_supplier_path %>

<table>
  <tr>
    <th><%= Supplier.human_attribute_name(:seq) %></th>
    <th><%= Supplier.human_attribute_name(:name) %></th>
    <th><%= Supplier.human_attribute_name(:cutoff_date) %></th>
    <th><%= Supplier.human_attribute_name(:unpaied_amount) %></th>
    <th><%= Supplier.human_attribute_name(:unsettle_amount_after_cutoff) %></th>
    <th><%= Supplier.human_attribute_name(:paied_amount_after_cutoff) %></th>
    <th><%= Supplier.human_attribute_name(:amount_to_pay) %></th>
  </tr>

<% @suppliers.each do |supplier| %>
  <tr>
    <td><%=h supplier.seq %></td>
    <td><%=h supplier.name %></td>
    <td><%=h supplier.cutoff_date %></td>
    <td class="right"><%=f supplier.unpaied_amount %></td>
    <td class="right"><%=f supplier.unsettle_amount_after_cutoff %></td>
    <td class="right"><%=f supplier.paied_amount_after_cutoff %></td>
    <td class="right"><%=f supplier.amount_to_pay %></td>
    <%= render_edit_link edit_supplier_path(supplier) %>
    <% if supplier.purchases.empty? && supplier.payables.empty?%>
      <%= render_delete_link supplier %>
    <% end %>
  </tr>
<% end %>
</table>

<h3><%= t('Total Suppliers') %>: <%=h @suppliers.size %></h3>
<h3><%= t('Total Unpaid') %>: <%=f total_amount_to_pay %></h3>