<% title t('Listing suppliers') %>

<h3><%= link_to t('New supplier'), new_supplier_path %></h3>

<table>
  <tr>
    <th><%= Supplier.human_attribute_name(:seq_no) %></th>
    <th><%= Supplier.human_attribute_name(:name) %></th>
  </tr>

<% @suppliers.each do |supplier| %>
  <tr>
    <td><%=h supplier.seq_no %></td>
    <td><%=h supplier.name %></td>
    <td><%= link_to t('Edit'), edit_supplier_path(supplier) %></td>
    <% if supplier.purchases.empty? %>
      <td><%= link_to t('Destroy'), supplier, :confirm => t('sure?'), :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<h3>总共 <%=h @suppliers.size %> 个</h3>