<p>
  <b><%= Supplier.human_attribute_name(:seq_no) %>:</b>
  <%=h @supplier.seq_no %>
</p>

<p>
  <b><%= Supplier.human_attribute_name(:name) %>:</b>
  <%=h @supplier.name %>
</p>


<%= link_to t('Edit'), edit_supplier_path(@supplier) %> |
<%= link_to t('Back'), suppliers_path %>